
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta name="csrf-token" content="<%=env['rack.session'][:csrf]%>">
		<link rel="icon" type="image/png" href="/assets/pictures/favico.png" />	
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css" charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" charset="utf-8">
		<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">

		<link rel="stylesheet" href="/assets/stylesheets/layout.css" type="text/css" charset="utf-8">
		<title> <%= title %> </title>
	</head>
	<body>
		<% flash.keys.each do |type| %>
			<div data-alert class="flash <%= type %> alert-box radius">
				<%= flash[type] %>
				<a href="#" class="close" onclick="this.parentNode.hidden = true">&times;</a>
			</div>
		<% end %>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
			<div class="container">
				<a class="navbar-brand" href="/">MATCHA</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<% unless user_logged_in? %>
							<li class="nav-item">
								<a class="nav-link" href="/registration/sign_up" target="_top">Cree toi ton compte de matcheur fou</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/registration/login" target="_top">Connecte toi le matcheur fou</a>
							</li>
						<% else %>
							<li class="nav-item">
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle icon" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="fa fa-user"></i>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" id="profile" href="/user/show/<%=current_user.id %>"> Profile </a>
									<a class="dropdown-item" href="/registration/sign_out">Logout</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" data-toggle="modal" data-target="#signOut" href="#signOut">Delete account</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link icon" id="matcha_like" href="/user/likers"><i class="fa fa-star"></i><span>0</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link icon" id="matcha_match" href="/user/matches"><i class="fa fa-heart"></i><span>0</span></a>
							</li>		
							<li class="nav-item">
								<a class="nav-link icon" id="matcha_conv" href="#"><i class="fa fa-comments"></i><span>0</span></a>
							</li>		
						<% end %>
					</ul>
				</div>
			</div>
		</nav>
		<%= yield %>

		<% if user_logged_in? %>
			<div id="notif_wrapper">
			</div>
			<div id="messenger">
				<div id="message_sender_invisible" class="message_sender" style="#display: none">
					<div class="card">
						<div class="card-header">
							First Name user
						</div>
						<div class="card-body">
							Content conversation
						</div>
						<div class="card-footer">
							<input type="text" value="" name="" id=""/>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="signOut" tabindex="-1" role="dialog" aria-labelledby="signOutLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="signOutLabel">Voulez vous vraiment supprimer votre compte</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							cette action est irreversible
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-danger" onclick="window.location = '/user/destroy';">Delete</button>
						</div>
					</div>
				</div>
			</div>
		<% end %>
		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="/assets/javascript/notif.js" charset="utf-8"> </script>
		<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
		<script src="/assets/javascript/conv.js" charset="utf-8"> </script>
		<script charset="utf-8">
var Socket = new WebSocket("ws://localhost:4567/user/socket");
Socket.onopen = function (event) {
  Socket.send("Voici un texte que le serveur attend de recevoir dès que possible !"); 
  };
  Socket.onmessage = function (event) {
  display_notif(event);
  };
		</script>
	</body>
</html>
