
<link rel="stylesheet" href="/assets/stylesheets/matchable.css"  media="screen" charset="utf-8">

<% if user_logged_in? %>
	<div class="container">
		<div class="input-group" >
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">result number</span>
			</div>
			<input type="number" class="form-control" value=7 aria-label="Username" aria-describedby="basic-addon1">
		</div>
		<div class="form-group">
			<label for="formControlRange">Distance prefere en (metre) <span>25 km</span></label>
			<input type="range" onchange="this.parentNode.querySelector('span').innerText = value_converter(this.value)" class="form-control-range" id="formControlRange" min="100" max="50000" value="25000">
		</div>
		<div class="form-group d-flex flex-wrap justify-content-between" id="hashtags">
			<% @hashtags.each do |hash| %>
				<input value="<%= hash.name %>" type="checkbox" data-toggle="toggle" data-on="<%=hash.name%>" data-off="<%=hash.name%>">
			<% end %>
		</div>
		<div class="d-flex flex-column justify-content-center" data-toggle="buttons">
			<p class="font-weight-bold text-center">ORDONNER PAR</p>
			<div class="btn-group btn-group-toggle">	
				<label class="btn btn-secondary active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked> Distance
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="options" id="option2" autocomplete="off"> Interet
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="options" id="option3" autocomplete="off"> Age
				</label>
				<label class="btn btn-secondary">
					<input type="radio" name="options" id="option3" autocomplete="off"> Popularite
				</label>
			</div>
			<div class="my-3 w-50 btn-group btn-group-toggle" style="margin: 0 25% 0 25%">	
				<input id="ascendant" type="checkbox" checked data-toggle="toggle" data-on="" data-off="">
			</div>
		</div>
		<button type="button" id="submit" class=" my-3 btn btn-primary btn-lg btn-block">SEARCH</button>
	</div>

	<div id="user_container" class="container-fluid d-flex flex-wrap justify-content-center">
		<% @users.each do |user| %>
			<div class="card general-card to_load mx-5 my-2" >
				<img loading="lazy" class="card-img-top loader" src="/assets/pictures/loader" id="<%= user.id %>"/>
				<div class="card-body">
					<h5 class="card-title"><%= user.first_name %></h5>

					<p class="card-text text-truncate"> <%= user.biography %> </p>
				</div>
				<div class="card-footer">	
					<button onclick="window.location= '/user/show/<%= user.id %>'" type="button" class="btn btn-outline-info message"><i style="font-size: 1.5rem;font-weight: bolder;" class="fa fa-angle-double-right"></i></button>
				</div>
			</div>
		<% end %>
	</div>

	<div class="card general-card mx-5 my-2" id="exemple" style="display: none;">
		<img loading="lazy" class="card-img-top loader" src="/assets/pictures/loader"/>
		<div class="card-body">
			<h5 class="card-title"></h5>
			<p class="card-text text-truncate"> </p>
		</div>
		<div class="card-footer">

			<button  type="button" class="btn btn-outline-info message"><i style="font-size: 1.5rem;font-weight: bolder;" class="fa fa-angle-double-right"></i></button>
			<p class="text-muted" id="distance"> </p>
		</div>
	</div>

	<div class="container text-center">	
		<img id="main_loader" src="/assets/pictures/main_loader.gif" alt=""/>
	</div>
	<script charset="utf-8" src="/assets/javascript/views/matchable.js" type="application/javascript"></script>
<% end %>
