<h2>Biographie</h2>
<div>
  <% if current_user.id == @user.id %>
    <p id="biography" contenteditable='true'><%= h(@user.biography) %></p>
    <input type='submit' value="save">
  <% else %>
    <p><%= h(@user.biography) %></p>
  <% end %> 
</div>

<div>
  <p>First name</p>
  <% if current_user.id == @user.id %>
    <p id="first_name" contenteditable='true'><%= h(@user.first_name) %></p>
    <input type='submit' value="save">
  <% else %>
    <p><%= h(@user.first_name) %></p>
  <% end %> 
</div>

<div>
  <p>Last name</p>
  <% if current_user.id == @user.id %>
    <p id="last_name" contenteditable='true'><%= h(@user.last_name) %></p>
    <input type='submit' value="save">
  <% else %>
    <p><%= h(@user.last_name) %></p>
  <% end %> 
</div>

<div>
  <% if current_user.id == @user.id %>
  <p>email</p>
    <p id="email" contenteditable='true'><%= h(@user.email) %></p>
    <input type='submit' value="save">
  <% end %> 
</div>

<!-- il manque le mdp!-->

<div>
  <p>age</p>
  <% if current_user.id == @user.id %>
    <p id="age" contenteditable='true'><%= h(@user.age) %></p>
    <input type='submit' value="save">
  <% else %>
    <p><%= h(@user.age) %></p>
  <% end %> 
</div>

<!-- ici commence les option a choix!-->

<div>
  <p>Sexe</p>
  <% if current_user.id == @user.id %>
    <select>
      <option value="man">man</option>
      <option value="woman">woman</option>
    </select>
  <% else %>
    <p><%= h(@user.age) %></p>
  <% end %> 
</div>

<div>
  <p>list d'interet</p>
  <% if current_user.id == @user.id %>
    <% Hashtag.all.each do |value| %>
        <input  type="checkbox" value="<%= checkbox_methode(value: value, user: @user)%>">
        <p><%= h(value.name) %></p>
    <% end %>
    </select>
  <% else %>
    <p><%= h(@user.age) %></p>
  <% end %> 
</div>



<% if current_user.id == @user.id %>
  <script charset="utf-8" src="/assets/javascript/profile.js"></script>
<% end %>
