		<form action="create" method="post" accept-charset="utf-8">
			<input type=hidden name='authenticity_token' value="<%=env['rack.session'][:csrf]%>">
			<label>first_name</label>
			<input type="text" value="" name="user[first_name]" id="first_name"/>	
			<label>last_name</label>
			<input type="text" value="" name="user[last_name]" id=""/>	
			<label>password</label>
			<input type="password" value="" name="user[password]" id=""/>	
			<label>confirm password</label>
			<input type="password" value="" name="user[confirm_password]" id=""/>	
			<label>email</label>
			<input type="email" value="" name="user[email]" id="" placeholder="email"/>	
			<label>age</label>
			<input type="numeric" value="" name="user[age]" id=""/>	
			<label>sex</label>
			<select name="user[sex]" id="user[sex]" multiple size="1">
			<%User.gender_pool.each do |gender| %>
				<option value="<%=gender%>"><%=gender%></option>
			<%end%>
			</select>
			<label>interest</label>
			<%User.gender_pool.each_with_index do |gender, index| %>
			<div>
				<input type="checkbox" value="<%=gender%>" name="user[interest<%=index%>]" id=""/>
				<label><%=gender%></label>
			</div>
			<%end%>
			<input type="submit" value="OK" />		
		</form>
